.App-header {
  background: linear-gradient(rgb(76, 19, 235), rgb(15, 9, 90));
  background: linear-gradient(rgb(76, 19, 235), rgb(3, 7, 22));
  height: 100vh;
  color: white;
}

.bg {
  background: white;
  color: black;
}